In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from wordcloud import WordCloud

In [3]:
import nltk
from nltk.corpus import stopwords
nltk.download("stopwords")
nltk.download("punkt")
nltk.download('punkt_tab')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\bansa\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\bansa\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\bansa\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [4]:
df = pd.read_csv("spam.csv")
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [5]:
df.drop(columns=["Unnamed: 2",	"Unnamed: 3",	"Unnamed: 4"], inplace=True)
df.head

<bound method NDFrame.head of         v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]>

In [6]:
df.rename (columns = {"v1":"target", "v2" : "text"}, inplace =True)
df.head()

  target                                               text
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df["target"] = encoder.fit_transform(df["target"])
df.head()

   target                                               text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [8]:
df.duplicated().sum()

np.int64(403)

In [9]:
len(df)

5572

In [10]:
df=df.drop_duplicates(keep="first")
len(df)

5169

In [11]:
from nltk.stem.porter import PorterStemmer
import string
ps=PorterStemmer()

In [12]:
def transform_text(text):

    text = text.lower()
    
    
    text = nltk.word_tokenize(text)
    
    
    y = []
    for i in text:
        if i.isalnum():
            y.append(i)
            

    text = y[:]
    y.clear()
    

    for i in text:
        if i not in stopwords.words('english') and i not in string.punctuation:
            y.append(i)
        
    
    text = y[:]
    y.clear()
    for i in text:
        y.append(ps.stem(i))
    
    
    return " ".join(y)

In [13]:
df["transformed_text"] = df["text"].apply(transform_text)
df.head()

C:\Users\bansa\AppData\Local\Temp\ipykernel_13440\2639586646.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["transformed_text"] = df["text"].apply(transform_text)

,target,text,transformed_text
0,0,"Go until jurong point, crazy.. Available only ...",go jurong point crazi avail bugi n great world...
1,0,Ok lar... Joking wif u oni...,ok lar joke wif u oni
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,free entri 2 wkli comp win fa cup final tkt 21...
3,0,U dun say so early hor... U c already then say...,u dun say earli hor u c alreadi say
4,0,"Nah I don't think he goes to usf, he lives aro...",nah think goe usf live around though

In [14]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
tfidf = TfidfVectorizer(max_features=500)

In [15]:
X = tfidf.fit_transform(df["transformed_text"]).toarray()
y = df["target"].values

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test , y_train, y_test = train_test_split(X,y,test_size = 0.20, random_state = 2)

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier

In [18]:
svc = SVC(kernel= "sigmoid", gamma  = 1.0)
knc = KNeighborsClassifier()
mnb = MultinomialNB()
dtc = DecisionTreeClassifier(max_depth = 5)
lrc = LogisticRegression(solver = 'liblinear', penalty = 'l1')
rfc = RandomForestClassifier(n_estimators = 50, random_state = 2 )
abc = AdaBoostClassifier(n_estimators = 50, random_state = 2)
bc = BaggingClassifier(n_estimators = 50, random_state = 2)
etc = ExtraTreesClassifier(n_estimators = 50, random_state = 2)
gbdt = GradientBoostingClassifier(n_estimators = 50, random_state = 2)    
xgb  = XGBClassifier(n_estimators = 50, random_state = 2)

In [19]:
clfs = {
    'SVC': svc,
    'KNN': knc,
    'NB': mnb,
    'DT': dtc,
    'LR': lrc,
    'RF': rfc,
    'Adaboost': abc,
    'Bgc': bc,
    'ETC': etc,
    'GBDT': gbdt,
    'xgb': xgb
    
}

In [20]:
from sklearn.metrics import accuracy_score, precision_score

def train_classifier(clf, X_train, y_train, X_test, y_test):
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, zero_division=0)
    return accuracy, precision

In [21]:
# Replace this entire cell with the code below

# --- Ensure clfs is a dictionary (rebuild if it was accidentally overwritten) ---
if not isinstance(globals().get('clfs', None), dict):
    rebuilt = {}
    for var_name in ['svc','knc','mnb','dtc','lrc','rfc','abc','bc','etc','gbdt','xgb']:
        if var_name in globals():
            # use short readable keys
            key = var_name.upper() if var_name != 'xgb' else 'XGB'
            rebuilt[key] = globals()[var_name]
    clfs = rebuilt
    print("clfs was not a dict — rebuilt from model variables. Models:", list(clfs.keys()))

# --- Safe training loop with error handling ---
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

accuracy_scores = []
precision_scores = []

# models that typically need scaling when raw features are used
to_scale = {'SVC', 'KNC', 'LRC', 'LR', 'KNN'}

for name, clf in clfs.items():
    try:
        model_to_fit = clf
        if name.upper() in to_scale:
            model_to_fit = Pipeline([('scaler', StandardScaler()), ('clf', clf)])
        model_to_fit.fit(X_train, y_train)
        y_pred = model_to_fit.predict(X_test)
        acc = accuracy_score(y_test, y_pred)
        prec = precision_score(y_test, y_pred, zero_division=0)
        print(f"\nModel: {name}\n  Accuracy : {acc:.4f}\n  Precision: {prec:.4f}")
        accuracy_scores.append(acc)
        precision_scores.append(prec)
    except Exception as e:
        print(f"\n❌ Error training {name}: {e}")
        accuracy_scores.append(None)
        precision_scores.append(None)

Model: SVC
  Accuracy : 0.8839
  Precision: 0.5738

Model: KNN
  Accuracy : 0.9342
  Precision: 0.9487

Model: NB
  Accuracy : 0.9710
  Precision: 0.9655

Model: DT
  Accuracy : 0.9371
  Precision: 0.9011

Model: LR
  Accuracy : 0.9739
  Precision: 0.9051

Model: RF
  Accuracy : 0.9700
  Precision: 0.9421

Model: Adaboost
  Accuracy : 0.9236
  Precision: 0.8734

Model: Bgc
  Accuracy : 0.9623
  Precision: 0.9024

Model: ETC
  Accuracy : 0.9710
  Precision: 0.9219

Model: GBDT
  Accuracy : 0.9497
  Precision: 0.9300

Model: xgb
  Accuracy : 0.9691
  Precision: 0.9569